
<h1>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <% if (data.cart.items.length > 0) { %>
    <% for (let i = 0; i < data.cart.items.length; i++) { %>
  <div class="product">
    <div class="product-image">
      <img src="<%= data.cart.items[i].new_item.image %>" style="width:30%" height="height:30%">
    </div>
    <div class="product-details">
      <div class="product-title" data-name='<%= data.cart.items[i].new_item.name %>' > <%= data.cart.items[i].new_item.name %></div>
      <p class="product-description">   <%= data.cart.items[i].new_item.description %></p>
    </div>
    <div class="product-price">   <%- data.cart.items[i].new_item.cost %></div>
    <div class="product-quantity">
      <input readonly type="number" value="<%- data.cart.items[i].qty %>" min="1">
    </div>
    <div class="product-removal">
      <button onclick="deleteFromCart('<%= data.cart.items[i].new_item._id %>')" class="remove-product"" data-name='<%= data.cart.items[i].new_item.name %>' >Delete</button>
    </div>
    <div class="product-line-price"> <%- data.cart.items[i].new_item.cost * data.cart.items[i].qty %></div>
  </div>
  <% }} %>

  <div class="totals">
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total"><%= data.cart.totalCost + 15 %> </div>
    </div>
  </div>
  <% if (data.cart.items.length > 0) { %>
    <a href="/checkout/" ><button class="checkout">Go to checkout</button></a>
  <% } else { %>
    <button onclick="alert('Please add items to cart first!')" class="checkout">Go to checkout</button>
  <% } %>
</div>