<p><%= data.product.name %></p>
<img src=<%= data.product.image %> alt=<%= data.product.name />

<% for(let i = 0; i < data.product.stock.length; i++) { %>
  <p><%= data.product.stock[i].size %></p>
  <p><%= data.product.stock[i].count %></p>
<% } %>