<div class="row">
  <div class="col-sm-2">
    <%- include('partials/sidebar') %>
  </div>
  <div class="col-sm-4">
    <img class="img-fluid" src=<%= data.product.image %> alt=<%= data.product.name %>/>
  </div>
  <div class="col-sm-6">
    <p class="productname"><%= data.product.name %></p>
    <p><b>Gender:</b> <%- data.product.gender === 'm' ? 'Mens' : 'Womans' %></p>
    <p><b>Brand:</b> <%= data.product.brand %> | <b>Category:</b> <%= data.product.category %> | <b>Sub Category:</b> <%= data.product.subCategory %></p>
    <p>
      <b>Cost:</b> $<%= data.product.cost %>
      <% if(data.product.onSale) { %>
        <span style='color: red'> | ON SALE!</span>
      <% } %>
      <div class="container">
          <span class="choose">Choose Shoe Size</span>
        
            <div class="shoedropdown">
              <div class="select">
                <span>Select Size</span>
                <i class="fa fa-chevron-left"></i>
              </div>
              <input type="hidden" name="gender">
              <ul class="shoedropdown-menu">
                <% console.log("product"); console.log(data.product.stock) %>
                <% for (var i in data.product.stock){ %>
                <li id='<%- data.product.stock[i].size %>'><%- data.product.stock[i].size %></li>
                <% } %>
              </ul>
            </div>
        
        <span class="msg"></span>
  </div>
  
      <% if (data.product.available) { %><button onclick="addToCart('<%= data.product._id%>')" type="button" class="btn btn-primary">Add to Cart</button><% } %>
    </p>

    
    <p><b>Description:</b></p>
    <p><%= data.product.description %></p>
    <% if (data.product.available) { %>
      <p>Stock</p>
      
      <table class="table">
        <tr>
          <th>Shoe size</th>
          <th>Stock</th>
        </tr>
        <% for(let i = 0; i < data.product.stock.length; i++) { %>
          <tr>
            <td><%= data.product.stock[i].size %></td>
            <td><%= data.product.stock[i].count %></td>
          </tr>
        <% } %>
      </table>
      
    <% } else { %>
      <p><b>Item currently unavailable</b></p>
    <% } %>
  </div>
</div>

